.App {
  max-width: 1000px;
  margin: auto;
}
/*################################# HEADER ########################################*/
.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(77, 77, 197);
  color: rgb(255, 248, 238);
  padding: 0.6rem;
}

.nav-flexGroup {
  display: inline-flex;
}

.nav span {
  margin: 0 0.5rem 0 0.5rem;
}

.logo {
  font-weight: bold;
  margin-right: 1rem;
}

.link {
  text-decoration: none;
  color: rgb(255, 248, 238);
  transition: all 0.3s ease-in;
}

.link:hover {
  color: rgb(250, 162, 31);
  cursor: pointer;
}

.logInOut {
  align-self: flex-end;
}

/*################################# FORM ########################################*/

.form {
  border: 1px solid gainsboro;
}

.form-fields {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.input {
  margin-right: 0.5rem;
  padding: 0.2rem;
}

/*################################# Efni á síðu ########################################*/

/* Linkar e.Links sem notendur pósta á síðuna */
.links {
  display: flex;
}
