.App {
  margin: auto;
}

/*################################# HEADER ########################################*/
.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(77, 77, 197);
  color: rgb(255, 248, 238);
  padding: 0.6rem;
}

.nav-flexGroup {
  display: inline-flex;
}

.nav span {
  margin: 0 0.5rem 0 0.5rem;
}

.logo {
  font-weight: bold;
  margin-right: 1rem;
}

.link {
  text-decoration: none;
  color: rgb(255, 248, 238);
  transition: all 0.3s ease-in;
}

.link:hover {
  color: rgb(250, 162, 31);
  cursor: pointer;
}

.logInOut {
  align-self: flex-end;
}

/*################################# FORM ########################################*/

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto 2rem auto;
  padding-top: 1.5rem;
  max-width: 400px;
}

.form-title {
  font-size: 2rem;
  letter-spacing: -1px;
  text-align: center;
  margin: 1rem 0 1rem 0;
}

.form-fields {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.form-underline {
  height: 0px;
  margin: 0rem 1rem 2rem 1rem;
  box-shadow: 0px 0px 3px 1px rgb(81, 228, 81);
}

.--purple {
  box-shadow: 0px 0px 3px 1px rgb(77, 77, 197);
}

.input {
  background: transparent;
  color: #555353;
  height: 2rem;
  font-size: 1.5rem;
  margin: 0rem 1rem 0 1rem;
  transition: all ease-in-out 0.3s;
}

.input:focus {
  outline: none;
  border-bottom: none;
  font-weight: bolder;
  transform: translateY(-0.4rem);
}

.input:hover::placeholder {
  color: rgb(77, 77, 197);
}

.invalid {
  box-shadow: 0px 0px 3px 1px rgb(245, 33, 33);
}

.validation {
  width: 80%;
  margin-left: 2rem;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
}
.form-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

/*################################# Efni á síðu /new:page ########################################*/
.links:nth-child(odd) {
  background: rgb(247, 234, 255);
}
/* Linkar e.Links sem notendur pósta á síðuna */
.links {
  display: flex;
  margin-bottom: 0.2rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
}

.links-index {
  min-width: 3rem;
  display: flex;
  justify-content: space-between;
  color: #828282;
}

.links-text {
  color: rgb(77, 77, 197);
}

.links-url {
  font-style: italic;
  text-decoration: none;
  color: rgb(77, 77, 197);
}

.links-vote {
  cursor: pointer;
  padding: 0 0.2rem 0 0.2rem;
}

.links-vote:hover {
  color: rgb(250, 162, 31);
}

.links-info {
  font-size: 0.8rem;
  padding: 0.2rem;
  color: #828282;
}

.pageNav {
  display: flex;
  text-align: center;
  justify-content: space-around;
  width: 70%;
  margin: 2rem auto 0 auto;
}

.pageScroll {
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.pageScroll:hover {
  color: rgb(250, 162, 31);
}
