@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: #524169;
  font-size: 16px;
  font-family: "Kanit", sans-serif;
}

.main {
  /* header height= 67px */
  margin-top: 107px;
}

.hidden {
  display: none;
}

.gray {
  color: #828282;
}

.button-group {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.button {
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 1.2px;
  background: rgb(77, 77, 197, 0.9);
  color: white;
  text-align: center;
  padding: 0.8rem;
  cursor: pointer;
  max-width: 140px;
  min-width: 100px;
  transition: all 0.2s ease-in-out;
}

.--submit {
  align-self: center;
}

.button:hover {
  transform: scale(1.05);
}

.button:focus {
  outline: 5px solid orange;
}
